<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CIMB Todoist" verbose="2">
	<listeners>
		<listener class-name="base.TestListeners" />
	</listeners>
	<test name="Projects">
		<classes>
			<class name="testClasses.ProjectTests"></class>
		</classes>
	</test>

</suite>